<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/stylesheets/bootstrap-grid.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/layout.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/resume.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/print.css" | prepend: site.baseurl }}" media="print">


    <!-- Vendor JS -->
    <script src="{{ "/assets/javascript/angular.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/javascript/momentjs/moment.js" | prepend: site.baseurl }}"></script>

    <!-- Custom JS -->
    <script src="{{ "/assets/javascript/main.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/javascript/app.js" | prepend: site.baseurl }}"></script>

</head>
