body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.75em;
  margin: 0.25em 0;
}

a {
  color: dimgrey;
  &:hover {
    text-decoration: none;
  }
}

.hint {
  color: #aaaaaa;
}

.sticky-link {
  &:hover, &.active {
    background-color: #dddddd !important;
    color: black !important;
  }
}

.cards-view {
  .wrapper {
    background: #333333;
  }
  .row {
    height: 300px;
    &.tertiary {
      height: 100px;
    }
    .facet {
      background: #555555;
      border: 1px solid black;
    }
    &:nth-of-type(odd) .facet {
      background: #666666;
    }
  }
}

$top-nav-height: 40px;
$facets-list-width: 20%;

.facets-view {
  ul {
    position: absolute;
    top: $top-nav-height;
    bottom: 10px;
    left: 0;
    width: $facets-list-width;
    li {
      height: 20%;
    }
  }
  .main-viz {
    position: absolute;
    top: $top-nav-height;
    right: 10px;
    bottom: 10px;
    left: $facets-list-width;
    background: #555555;
  }
}

.demo-content {
  text-align: left;
  h1,h2,h3,h4 {
    margin: 1em 0;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
    font-weight: bold;
  }
  a.plain-link {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    text-decoration: underline;
  }
  a.sticky-link {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background: dimgrey;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  a.toggle-link {
    @extend a.sticky-link;
    &.active {
      background: brown;
    }
  }
  table {
    margin: 1em 0;
    font-size: 12px;
    td:first-child, th:first-child {
      text-align: left;
    }
    &.timers-table {
      td:last-child, th:last-child {
        text-align: right;
      }
    }
    td,th {
      padding: 5px;
      margin: 0;
      strong {
        font-weight: bold;
      }
    }
    th {
      background: #dddddd;
    }
  }
}

.side {
  width: 100%;
  text-align: left;
}

.demo-map {
  margin: 5em auto;
  height: 600px;
  box-shadow: 3px 4px 5px rgba(94, 94, 94, 0.6);
  border: solid 2px #727272;
  .leaflet-control-attribution {
    display: none;
  }
}
